@import url(http://fonts.googleapis.com/css?family=Raleway:200,400,700);

body {
    margin: 0;
    background: #2f3238;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}

.addButton {
    margin: 2em;
    display: inline-block;
}

a {
    background-color: white;
    color: #ff7474;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 2px;

}

ul {
    justify-content: center;
    text-align: center;
}


#list li {
    cursor: move;
    font-size: 2em;
    display: inline-block;
    margin: 0.2em 0.1em;
    padding-top: 2.25em;
    width: 5.5em;
    height: 5.5em;
    border-radius: 4px;
    background: #403E45;
    color: #76737C;
}

.onGrab {
    opacity: .4;
}

#drop-area {
    justify-content: center;
    text-align: center;
}

#drop-area i {
    color: #3498db;
    text-decoration: none;
    outline: none;
}

.hide {
    visibility: hidden;
}

.over i {
    border: 2px dashed #000;

}

