@import url(http://fonts.googleapis.com/css?family=Raleway:200,400,700);

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
    margin: 0;
    background: #2f3238;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}

main {
    height: 100vh;
}

.addButton {
    margin: 2em;
    display: inline-block;
}

a {
    background-color: white;
    color: #ff7474;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 2px;

}

ul {
    justify-content: center;
    text-align: center;
    padding-left: 0;

}


#list li {
    cursor: move;
    font-size: 2em;
    display: inline-block;
    margin: 0.2em 0.1em;
    padding-top: 2.25em;
    height: 5.5em;
    border-radius: 4px;
    background: #403E45;
    color: #76737C;
}

@media only screen and (min-width: 360px) {
    #list li {
        width: 90%;

    }
}

@media only screen and (min-width: 641px) {
    #list li {
        width: 33.333%;

    }
}

@media only screen and (min-width: 1025px) {
    /* Classes that apply to large devices only */
    #list li {
        width: 16.666%;
    }
}

.onGrab {
    opacity: .4;
}

#drop-area {
    justify-content: center;
    text-align: center;
}

#drop-area i {
    color: #3498db;
    text-decoration: none;
    outline: none;
}

.hide {
    visibility: hidden;
}

.appear i {
    border: 2px dashed #000;
}

@media 

